@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

/* Variables globales */
:root {
  --Color-text: #db0517;
  --Color-btn: #090619;
  --color-brand: #7101e7;
  --color-brand-secondary: #bc028e;
  --color-brand-third: #f90247;
  --color-gradient: linear-gradient(to right, #7101e7, #bc028e, #f90247);
}



/* .fc-toolbar {
    display: none;
} */


.fc-row .fc-week .fc-widget-content {
    height: 2em;
}

.fc-day-grid {
    height: 50% !important;
}

tr {
    height: 2em;
}



.fc-view .fc-dayGridMonth-view .fc-dayGrid-view{
    height: 50% !important;
    width: 95% !important;
}

.fc-scroller {
    height: 50% !important;
//     width: 95% !important;
}

// .fc-view-container {
//     height: 50% !important;
//     width: 95% !important;
// }

.fc-day-top {
  padding: 0 7.5% !important;
}

.fc-day-number {

  font-size: 1em;
  font-weight: bold;
}

button.fc-prev-button.fc-button.fc-button-primary {
  background: #b71c1c;
  border-color: #b71c1c;
}

button.fc-next-button.fc-button.fc-button-primary {
  background: #b71c1c;
  border-color: #b71c1c;
}

button.fc-today-button.fc-button.fc-button-primary {
  background: #b71c1c;
  border-color: #b71c1c;
}
button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
  background: #b71c1c;
  border-color: #b71c1c;
}

button.fc-timeGridWeek-button.fc-button.fc-button-primary {
  background: #b71c1c;
  border-color: #b71c1c;
}

button.fc-timeGridDay-button.fc-button.fc-button-primary {
  background: #b71c1c;
  border-color: #b71c1c;
}

.fc-day-header {
  color: var(--Color-text);
  text-align: center;
  font-size: 0.8em;
  padding: 0.8em !important;
  border-style: none !important;
}
